.Apple-3 img{

	/*background-color: black;*/
	/*border-radius: 20px;*/
	/*background-color: red;*/
	margin-left: 1rem;
	margin-top: 10rem;
	margin-left: 4rem;
	border: white 2px solid;
	border-radius: 10px;
	cursor: pointer;
}
.Apple-3 img:hover{
	height: 560px;
	width: 560px;
	background-color: white;
	border-radius: 20px;
	cursor: pointer;
}




body{
	background: #000033;
}


.logo{
	border-radius: 50px;
	margin-right: 80px;
	margin-top: 20px;
	float: right;
}
.title{
	background-color: #cccccc;
	width: 1000px;
	margin-top: 10px;
	margin-left: 25%;
	padding: 10px;
	align-content: center;
	border-radius: 20px;

}