.numbers{
	text-align: right;
	background: #b3d9ff;
}
.heading{
	background: #3399ff;
}
.course{
	text-align: center;
	background: #ffffcc;
}
.sub{
	text-align: left;
	background: #b3d9ff;
}
td{
	text-align: center;
}
.marks{
	background: #13ecec;
}
#headtag{
	font-size: 20px;
	color: blue;
	padding-bottom: 10px;
}